<!-- Describe task in general -->

<p style="text-align: justify;">
    红眼船长和他的水手们幸运地找到了另一个装有大量相同金币的箱子。为了瓜分这些金币，船员们尝试使用以前的规则：
</p>

<p style="text-align: justify;">
    <ul>
     <li>除船长外，每个水手应得到数量完全相同的金币；</li>
     <li>船长得到的金币应该是水手的两倍。</li>
    </ul>
</p>

<p style="text-align: justify;">
    如果用这种方法无法平均分配硬币，船长作为船上唯一有枪的人，决定有效而仁慈地使用他的武器--尽量减少水手人数，以获得整数的份额结果。
</p>

<p style="text-align: justify;">
    然而，水手们对这样的前景并不满意，他们暗自决定，如果没有船长的份额，也能平均分配给定数量的硬币，他们就会扑上去把船长赶下台。
</p>

<p style="text-align: justify;">
    因此，检查案件的优先顺序如下： 
    <ul>
        <li>船长双份，不杀；</li>
        <li>船员暴动，反对船长；</li>
        <li>船长开始杀害水手；</li>
        <li>船长杀死所有人并拿走所有黄金。</li>
    </ul>
</p>

<p style="text-align: justify;">
    给定箱子里金币的数量和水手的数量，编写一个程序来确定船长或水手（根据情况而定）能得到的最佳份额。
</p>

<p>
   <strong>输入</strong>两个整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>整数。
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

