<!-- Describe task in general -->

<p style="text-align: justify;">
    Le capitaine Red Eye et ses marins ont eu la chance de trouver un autre coffre contenant un grand nombre de pièces d'or identiques. Pour répartir les pièces, l'équipage a essayé d'appliquer les règles précédentes:
</p>

<p style="text-align: justify;">
    <ul>
     <li>chaque marin, à l'exception du capitaine, doit recevoir exactement le même nombre de pièces;</li>
     <li>le capitaine doit recevoir deux fois plus de pièces qu'un marin.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Si cette méthode ne permet pas de diviser les pièces de manière égale, le capitaine, qui est le seul à posséder un fusil à bord, décide d'utiliser son arme de manière efficace et miséricordieuse, c'est-à-dire de réduire au minimum le nombre de marins afin d'obtenir un nombre entier de parts.
</p>

<p style="text-align: justify;">
    Cependant, les marins n'étaient pas satisfaits d'une telle perspective et décidèrent secrètement que si le nombre donné de pièces pouvait être divisé équitablement sans la part du capitaine, ils sauteraient sur l'occasion et le démettraient de ses fonctions de chef.
</p>

<p style="text-align: justify;">
    Par conséquent, la priorité de vérification des cas devrait être la suivante: 
    <ul>
        <li>Double part du capitaine, pas de meurtre;</li>
        <li>L'équipage fait une émeute contre le capitaine;</li>
        <li>Le capitaine commence à tuer des marins;</li>
        <li>Le capitaine tue tout le monde et prend tout l'or.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Étant donné le nombre de pièces dans le coffre et le nombre de marins, écrivez un programme pour déterminer la meilleure part que le capitaine ou le marin (selon le cas) peut recevoir.
</p>

<p>
   <strong>Entrée:</strong> Deux entiers <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

