<!-- Describe task in general -->

<p style="text-align: justify;">
    Kapitän Red Eye und seine Matrosen fanden glücklicherweise eine weitere Truhe mit einer großen Anzahl identischer Goldmünzen. Um die Münzen aufzuteilen, versuchte die Mannschaft, ihre bisherigen Regeln anzuwenden:
</p>

<p style="text-align: justify;">
    <ul>
     <li>jeder Matrose, außer dem Kapitän, sollte genau die gleiche Anzahl von Münzen erhalten;</li>
     <li>der Kapitän sollte doppelt so viele Münzen erhalten wie ein Matrose.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Für den Fall, dass die Münzen auf diese Weise nicht gleichmäßig aufgeteilt werden können, beschloss der Kapitän, der als einziger eine Waffe an Bord hatte, seine Waffe effektiv und barmherzig einzusetzen - um die Anzahl der Matrosen so gering wie möglich zu halten, um ein ganzzahliges Ergebnis der Anteile zu erhalten.
</p>

<p style="text-align: justify;">
    Die Matrosen waren jedoch nicht glücklich über diese Aussicht und beschlossen insgeheim, dass sie, wenn die gegebene Anzahl von Münzen ohne den Anteil des Kapitäns gleichmäßig aufgeteilt werden könnte, zuschlagen und ihn von der Führung absetzen würden.
</p>

<p style="text-align: justify;">
    Die Priorität bei der Überprüfung der Fälle sollte also die folgende sein: 
    <ul>
        <li>Doppelter Anteil des Kapitäns, keine Tötungen;</li>
        <li>Die Mannschaft macht einen Aufstand gegen den Kapitän;</li>
        <li>Der Kapitän beginnt, Matrosen zu töten;</li>
        <li>Der Kapitän tötet alle und nimmt das gesamte Gold.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Schreiben Sie angesichts der Anzahl der Münzen in der Truhe und der Anzahl der Matrosen ein Programm, das den besten Anteil ermittelt, den der Kapitän oder der Matrose (je nach Fall) erhalten kann.
</p>

<p>
   <strong>Eingabe:</strong> Zwei ganze Zahlen <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Ganzzahl.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

