<!-- Describe task in general -->

<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p style="text-align: justify;">
    Kapitan Red Eye i jego marynarze szczęśliwie znaleźli kolejną skrzynię zawierającą dużą liczbę identycznych złotych monet. Aby podzielić monety, załoga próbowała wykorzystać swoje poprzednie zasady:
</p>

<p style="text-align: justify;">
    <ul>
     <li>każdy marynarz, z wyjątkiem Kapitana, powinien otrzymać dokładnie taką samą liczbę monet;</li>
     <li>kapitan powinien otrzymać dwa razy więcej monet niż marynarz.</li>
    </ul>
</p>

<p style="text-align: justify;">
    W przypadku, gdy monety nie mogą być podzielone równo przy użyciu tej metody, Kapitan, jako jedyna osoba z bronią na pokładzie, postanowił użyć swojej broni skutecznie i miłosiernie - aby minimalnie zmniejszyć liczbę marynarzy, aby uzyskać całkowity wynik udziałów.
</p>

<p style="text-align: justify;">
    Jednak marynarze nie byli zadowoleni z takiej perspektywy i potajemnie zdecydowali, że jeśli dana liczba monet może zostać równo podzielona bez udziału Kapitana, rzucą się na niego i usuną go z przywództwa.
</p>

<p style="text-align: justify;">
    W związku z tym priorytet sprawdzania spraw powinien być następujący: 
    <ul>
        <li>Podwójny udział Kapitana, brak zabójstw;</li>
        <li>Załoga robi zamieszki przeciwko Kapitanowi;</li>
        <li>Kapitan zaczyna zabijać marynarzy;</li>
        <li>Kapitan zabija wszystkich i zabiera całe złoto.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Biorąc pod uwagę liczbę monet w skrzyni i liczbę marynarzy, proszę napisać program, który określi najlepszy udział, jaki może otrzymać kapitan lub marynarz (w zależności od przypadku).
</p>

<p>
   <strong>Dane wejściowe:</strong> Dwie liczby całkowite <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

